<!-- TODO: END OF HEADER -->
<div id="content-wrapper">






    <style type="text/css">
        #carousel-2-1954594216 {
            height: 500px;
            background-color: #cccccc;
            background-image: none;
        }
    </style>

    <script>
        $(function() {
            $('#carousel-2-1954594216').contentSlider();
        });
    </script>


    <div id="carousel-2-1954594216" class="carousel slide xhide-on-active-filter bright fluid d-none d-md-block" data-ride=carousel data-interval="6000">


        <div class="carousel-inner" role="listbox">



            <div id="carousel-item-7" class="carousel-item bright product-slide active" style="background-color: #fdfdfd;height:500px">




                <div class="slide-badges d-flex">
                    <div class="badge badge-danger">- 15 %</div>
                </div>


                <div class="container slide-type-2 h-100">
                    <div class="row h-100">
                        <div class="col-md-6 text-md-right d-flex align-items-center">
                            <figure class="picture text-center" data-aos="zoom-in">
                                <a href="/frontend/en/charles-eames-lounge-chair-1956-2" title="Show details for Charles Eames Lounge Chair (1956)">
                                    <img alt="Picture of Charles Eames Lounge Chair (1956)" src="/Content/Samples/product/0000942_bildatlas-motorrader-mit-mehr-als-350-brillanten-abbildungen.jpeg" width="512" title="Show details for Charles Eames Lounge Chair (1956)" class="img-fluid" />
                                </a>
                            </figure>
                        </div>
                        <div class="col-md-6 d-flex align-items-center">
                            <div class="data text-md-left text-center p-3">


                                <h4 class="slide-title display-4" data-aos="slide-left">
                                    <a href="/frontend/en/charles-eames-lounge-chair-1956-2">
                                        <span>Charles Eames Lounge Chair (1956)</span>
                                    </a>
                                </h4>

                                <p class="slide-subtitle fs-h4 d-none d-md-block" title="" data-aos="slide-left">
                                    Lounge chair, Designer Charles Eames, width 80 cm, depth 80 cm, height 60 cm, seat shell: plywood, foot (rotatable): cast aluminum, cushions (upholstered) with leather cover
                                </p>

                                <div class="prices" data-aos="slide-left">
                                    <p class="old-product-price h3">
                                        <span class="price">1.999,00 €</span>
                                    </p>

                                    <p class="product-price h2">
                                        <span class="price">From 1.619,10 €</span>
                                    </p>
                                </div>

                                <div class="product-slide-buttons d-none d-md-block pt-3" data-aos="slide-up">
                                    <a href='/frontend/en/charles-eames-lounge-chair-1956-2'
                                       class="btn btn-clear-dark btn-animate btn-animate-right btn-lg"
                                       title="Description">
                                        <span>
                                            <i class="fa fa-angle-right"></i>
                                            <span>More information</span>
                                        </span>
                                    </a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




    <div class="g-container container">

        <section class="g-stage g-stage-root  py-3" data-grid-cols="1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr" data-grid-rows="auto auto auto" data-order="0">


            <div class="g-story g-story-1 g-story-root justify-content-center align-content-center" style="--g-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; --g-template-rows: auto auto auto; --g-gap: 12px">
                <article class="g-block g-block-picture g-block-1" id="block-1" data-aos="fade-up" style="--col: 7/13; --row: 1/2; --col-md: 5/9; --row-md: 1/4; --aos-delay: 200ms">
                    <div class="g-block-inner g-padbox">


                        <div class="g-block-content">



                            <div class="g-media">
                                <img class="g-image fit-fill" src="/Content/Samples/blog/football.jpg"
                                     width="512" loading="lazy" />
                            </div>
                        </div>
                    </div>
                </article>
                <article class="g-block g-block-picture g-block-2" id="block-2" data-aos="fade-up" style="--col: 1/7; --row: 1/2; --col-md: 1/5; --row-md: 1/4">
                    <div class="g-block-inner g-padbox">


                        <div class="g-block-content">



                            <div class="g-media">
                                <img class="g-image fit-fill" src="/Content/Samples/blog/bauhaus.jpg"
                                     width="512" loading="lazy" />
                            </div>
                        </div>
                    </div>
                </article>
                <article class="g-block g-block-picture g-block-3" id="block-3" data-aos="fade-up" style="--col: 1/7; --row: 2/3; --col-md: 9/13; --row-md: 1/4; --aos-delay: 400ms">
                    <div class="g-block-inner g-padbox">


                        <div class="g-block-content">



                            <div class="g-media">
                                <img class="g-image fit-fill" src="/Content/Samples/category/apple.png"
                                     width="512" loading="lazy" />
                            </div>
                        </div>
                    </div>
                </article>
                <article class="g-block g-block-html g-block-4" id="block-4" data-aos="fade-right" data-aos-easing="ease-in-out" style="--col: 7/13; --row: 2/3; --col-md: 2/7; --col-lg: 2/6; --aos-delay: 800ms">
                    <div class="g-block-inner g-padbox border border-light rounded mt-0 p-3 mt-md-6">
                        <div class="bg-white bg-overlay" style="opacity: 0.95"></div>


                        <div class="g-block-content">










                            <div class="g-block-html-outer w-100">

                                <div class="g-block-html-inner">


                                    <div class="g-html-content">
                                        <div class="g-heading">
                                            <div class="g-tagline font-weight-100 text-body text-uppercase fs-h5">
                                                Current Styles
                                            </div>
                                            <div class="g-title">
                                                <h2 class=" fs-h2">Season Highlights</h2>
                                            </div>
                                        </div>

                                        <div class="g-body fs-h5 text-muted">
                                            <p class="d-none d-lg-block">Let yourself be enchanted by our selected highlights of the fashion season<br></p>

                                        </div>

                                        <div class="g-button mt-3">
                                            <a href="/frontend/en/fashion" class="btn btn-primary btn-sm text-uppercase">



                                                <span>Discover</span>


                                            </a>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </article>
            </div>



        </section>

    </div>






    <section class="g-stage g-stage-root py-5" data-grid-cols="1fr 1fr 1fr 1fr 1fr 1fr" data-grid-rows="auto auto" data-order="2">

        <div class="g-stage-container container">

            <div class="g-story g-story-3 g-story-root justify-content-center align-content-center" style="--g-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; --g-template-rows: auto auto; --g-gap: 1rem">
                <article class="g-block g-block-picture g-block-13" id="block-13" data-aos="fade-left" data-aos-offset="600" style="--col: 1/7; --row: 2/3; --col-lg: 4/7; --row-xl: 1/2; --zix-xl: 1; --aos-delay: 100ms">
                    <div class="g-block-inner g-padbox border border-light rounded-xl shadow g-mega-lg mt-4 pl-6 mt-lg-0" style="--g-mega: 81%">


                        <div class="g-block-content">



                            <div class="g-media">
                                <img class="g-image" src="/Content/Samples/category/apple.png"
                                     loading="lazy" />
                            </div>
                        </div>
                        <a class="g-block-link" href="/Content/Samples/category/apple.png"></a>
                    </div>
                </article>
                <article class="g-block g-block-html g-block-14" id="block-14" style="--col: 1/7; --row: 1/2; --col-lg: 1/4; --row-lg: 2/3; --row-xl: 1/2">
                    <div class="g-block-inner g-padbox text-center px-3 pt-3 text-lg-left justify-content-xl-center align-items-xl-center pr-xl-5 pt-xl-0">


                        <div class="g-block-content">










                            <div class="g-block-html-outer w-100">

                                <div class="g-block-html-inner g-icon-above">

                                    <div class="g-icon">
                                        <i class="fal fa-percent fa-4x text-danger"></i>
                                    </div>
                                    <div class="g-icon-spacer mr-3 mb-3"></div>

                                    <div class="g-html-content">
                                        <div class="g-heading">
                                            <div class="g-tagline font-weight-medium text-uppercase fs-h4">
                                                featured products
                                            </div>
                                            <div class="g-title">
                                                <h2 class=" display-4">Cool glasses for the summer</h2>
                                            </div>
                                        </div>

                                        <div class="g-body fs-h5 font-weight-light">
                                            <p>Finally it's summer time again. Sunglasses not only protect your eyes from harmful UV light, sunglasses have also become a fashion accessory. The matching glasses make your look complete.&nbsp;</p>
                                        </div>

                                        <div class="g-button mt-4">
                                            <a href="/frontend/en/sunglasses" class="btn btn-success btn-lg">



                                                <span>Discover</span>


                                            </a>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </article>
            </div>

        </div>


    </section>







    <section class="g-stage g-stage-root py-5" data-grid-cols="1fr 1fr 1fr 1fr 1fr 1fr" data-grid-rows="auto auto" data-order="3">
        <div class="bg-info bg-overlay"></div>
        <div class="gradient-primary scrim-radial-gradient bg-overlay" style="--cendpos: 100%; --cstartpos: 0%; --gdir: circle at right bottom; opacity: 0.5"></div>

        <div class="g-stage-container container">

            <div class="g-story g-story-4 g-story-root justify-content-center align-content-center g-inverse" style="--g-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; --g-template-rows: auto auto; --g-gap: 1rem">
                <article class="g-block g-block-picture g-block-15" id="block-15" data-aos="fade-up" style="--col: 1/7; --row: 2/3; --aos-delay: 500ms">
                    <div class="g-block-inner g-padbox justify-content-center align-items-center text-center">


                        <div class="g-block-content">



                            <div class="g-media">
                                <img class="g-image" src="/Content/Samples/news/benz-first-modern-car.jpg"
                                     loading="lazy" />
                            </div>
                        </div>
                    </div>
                </article>
                <article class="g-block g-block-html g-block-16" id="block-16" data-aos="fade-up" style="--col: 1/7; --row: 1/2; --col-lg: 2/6; --aos-delay: 200ms; --aos-duration: 500ms">
                    <div class="g-block-inner g-padbox justify-content-center align-items-center text-center py-3 pb-xl-4">


                        <div class="g-block-content">










                            <div class="g-block-html-outer">

                                <div class="g-block-html-inner">


                                    <div class="g-html-content">
                                        <div class="g-heading">
                                            <div class="g-title">
                                                <h2 class="text-capitalize display-4">Smartstore CMS Page Builder</h2>
                                            </div>
                                            <p class="g-subtitle font-weight-light fs-h3">
                                                Take Content Management into your own hands
                                            </p>
                                        </div>

                                        <div class="g-body fs-h5 font-weight-light">
                                            <p>With the new Smartstore CMS Page Builder you can create fascinating content from products, product groups, images, videos and texts. Design elements such as animations, transitions, gradients, hover effects, overlays and operation via the WYSIWYG editor leave nothing to be desired in terms of design and flexibility.<br></p>
                                        </div>

                                        <div class="g-button">

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </article>
            </div>

        </div>


    </section>




    <section id="content" class="container">

        <div id="content-body" class="row">


            <div id="content-center" class="col-lg-12">


                <div class="page home-page">
                    <div class="page-body">




                        <div class="artlist artlist-grid artlist-6-cols artlist-boxed artlist-homepage-categories">
                            <article class="art" data-id="162">
                                <div class="art-picture-block">
                                    <a class="art-picture img-center-container" href="/frontend/en/hardware" title="Show products in category Hardware">
                                        <img src="/Content/Samples/product/0000932_uberman-der-roman.jpeg" alt="Picture for category Hardware" title="Show products in category Hardware" loading="lazy" />
                                    </a>
                                </div>
                                <div class="art-genericname">
                                    <a href="/frontend/en/hardware" title="Show products in category Hardware">
                                        <span>Hardware</span>
                                    </a>
                                </div>
                            </article>
                            <article class="art" data-id="183">
                                <div class="art-picture-block">
                                    <a class="art-picture img-center-container" href="/frontend/en/apple-2" title="Show products in category Apple">
                                        <img src="/Content/Samples/category/apple.png" alt="Picture for category Apple" title="Show products in category Apple" loading="lazy" />
                                    </a>
                                </div>
                                <div class="art-genericname">
                                    <a href="/frontend/en/apple-2" title="Show products in category Apple">
                                        <span>Apple</span>
                                    </a>
                                </div>
                            </article>
                            <article class="art" data-id="123">
                                <div class="art-picture-block">
                                    <a class="art-picture img-center-container" href="/frontend/en/shirts-stm" title="Show products in category Shirts">
                                        <img src="/Content/Samples/category/shoes.png" alt="Picture for category Shirts" title="Show products in category Shirts" loading="lazy" />
                                    </a>
                                </div>
                                <div class="art-genericname">
                                    <a href="/frontend/en/shirts-stm" title="Show products in category Shirts">
                                        <span>Shirts</span>
                                    </a>
                                </div>
                            </article>
                            <article class="art" data-id="128">
                                <div class="art-picture-block">
                                    <a class="art-picture img-center-container" href="/frontend/en/sports" title="Show products in category Sports">
                                        <img src="/Content/Samples/category/sports.jpg" alt="Picture for category Sports" title="Show products in category Sports" loading="lazy" />
                                    </a>
                                </div>
                                <div class="art-genericname">
                                    <a href="/frontend/en/sports" title="Show products in category Sports">
                                        <span>Sports</span>
                                    </a>
                                </div>
                            </article>
                            <article class="art" data-id="131">
                                <div class="art-picture-block">
                                    <a class="art-picture img-center-container" href="/frontend/en/soccer" title="Show products in category Soccer">
                                        <img src="/Content/Samples/category/fashion.jpg" alt="Picture for category Soccer" title="Show products in category Soccer" loading="lazy" />
                                    </a>
                                </div>
                                <div class="art-genericname">
                                    <a href="/frontend/en/soccer" title="Show products in category Soccer">
                                        <span>Soccer</span>
                                    </a>
                                </div>
                            </article>
                            <article class="art" data-id="184">
                                <div class="art-picture-block">
                                    <a class="art-picture img-center-container" href="/frontend/en/digital-products" title="Show products in category Digital Products">
                                        <img src="/Content/Samples/category/apple.png" width="256" alt="Picture for category Digital Products" title="Show products in category Digital Products" loading="lazy" />
                                    </a>
                                </div>
                                <div class="art-genericname">
                                    <a href="/frontend/en/digital-products" title="Show products in category Digital Products">
                                        <span>Digital Products</span>
                                    </a>
                                </div>
                            </article>
                            <article class="art" data-id="132">
                                <div class="art-picture-block">
                                    <a class="art-picture img-center-container" href="/frontend/en/basketball-2" title="Show products in category Basketball">
                                        <img src="/Content/Samples/category/apple.png" alt="Picture for category Basketball" title="Show products in category Basketball" loading="lazy" />
                                    </a>
                                </div>
                                <div class="art-genericname">
                                    <a href="/frontend/en/basketball-2" title="Show products in category Basketball">
                                        <span>Basketball</span>
                                    </a>
                                </div>
                            </article>
                            <article class="art" data-id="107">
                                <div class="art-picture-block">
                                    <a class="art-picture img-center-container" href="/frontend/en/bauhaus-furniture" title="Show products in category Bauhaus Furniture">
                                        <img src="/Content/Samples/category/apple.png" alt="Picture for category Bauhaus Furniture" title="Show products in category Bauhaus Furniture" loading="lazy" />
                                    </a>
                                </div>
                                <div class="art-genericname">
                                    <a href="/frontend/en/bauhaus-furniture" title="Show products in category Bauhaus Furniture">
                                        <span>Bauhaus Furniture</span>
                                    </a>
                                </div>
                            </article>
                            <article class="art" data-id="122">
                                <div class="art-picture-block">
                                    <a class="art-picture img-center-container" href="/frontend/en/fashion" title="Show products in category Fashion">
                                        <img src="/Content/Samples/category/apple.png" alt="Picture for category Fashion" title="Show products in category Fashion" loading="lazy" />
                                    </a>
                                </div>
                                <div class="art-genericname">
                                    <a href="/frontend/en/fashion" title="Show products in category Fashion">
                                        <span>Fashion</span>
                                    </a>
                                </div>
                            </article>
                            <article class="art" data-id="7">
                                <div class="art-picture-block">
                                    <a class="art-picture img-center-container" href="/frontend/en/watches" title="Show products in category Watches">
                                        <img src="/Content/Samples/category/apple.png" alt="Picture for category Watches" title="Show products in category Watches" loading="lazy" />
                                    </a>
                                </div>
                                <div class="art-genericname">
                                    <a href="/frontend/en/watches" title="Show products in category Watches">
                                        <span>Watches</span>
                                    </a>
                                </div>
                            </article>
                            <article class="art" data-id="5">
                                <div class="art-picture-block">
                                    <a class="art-picture img-center-container" href="/frontend/en/gaming-stm" title="Show products in category Gaming">
                                        <img src="/Content/Samples/category/apple.png" alt="Picture for category Gaming" title="Show products in category Gaming" loading="lazy" />
                                    </a>
                                </div>
                                <div class="art-genericname">
                                    <a href="/frontend/en/gaming-stm" title="Show products in category Gaming">
                                        <span>Gaming</span>
                                    </a>
                                </div>
                            </article>
                            <article class="art" data-id="185">
                                <div class="art-picture-block">
                                    <a class="art-picture img-center-container" href="/frontend/en/gift-cards" title="Show products in category Gift Cards">
                                        <img src="/Content/Samples/category/apple.png" width="256" alt="Picture for category Gift Cards" title="Show products in category Gift Cards" loading="lazy" />
                                    </a>
                                </div>
                                <div class="art-genericname">
                                    <a href="/frontend/en/gift-cards" title="Show products in category Gift Cards">
                                        <span>Gift Cards</span>
                                    </a>
                                </div>
                            </article>
                        </div>






                        <div class="g-container container">

                            <section class="g-stage g-stage-root  py-5" data-grid-cols="1fr 1fr 1fr 1fr 1fr 1fr" data-grid-rows="auto auto auto auto auto" data-order="0">


                                <div class="g-story g-story-2 g-story-root justify-content-center align-content-center" style="--g-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; --g-template-rows: auto auto auto auto auto; --g-gap: 1rem">

                                    <article class="g-block g-block-html g-block-6" id="block-6" data-aos="fade-up" style="--col: 1/7; --row: 5/6; --col-lg: 5/7; --row-lg: 3/6">
                                        <div class="g-block-inner g-padbox box-flat box-flat-inverse border border-translucent rounded-lg shadow-lg p-3 px-md-5 py-md-4">
                                            <div class="gradient-gray linear-gradient bg-overlay" style="--cendpos: 100%; --cstartpos: 0%; --gdir: 270deg"></div>


                                            <div class="g-block-content">









                                            </div>
                                        </div>
                                    </article>
                                    <article class="g-block g-block-html g-block-7" id="block-7" data-aos="fade-up" style="--col: 4/7; --row: 2/3; --col-lg: 5/7; --row-lg: 1/2">
                                        <div class="g-block-inner g-padbox box-flat box-flat-inverse border border-translucent rounded-lg shadow-lg shadow-success p-3 px-md-5 py-md-4">
                                            <div class="gradient-success linear-gradient bg-overlay" style="--cendpos: 100%; --cstartpos: 0%; --gdir: 270deg"></div>


                                            <div class="g-block-content">










                                                <div class="g-block-html-outer">

                                                    <div class="g-block-html-inner g-icon-above">

                                                        <div class="g-icon">
                                                            <i class="fa fa-bolt fa-3x text-success"></i>
                                                        </div>
                                                        <div class="g-icon-spacer mr-4 mb-4"></div>

                                                        <div class="g-html-content">
                                                            <div class="g-heading">
                                                                <div class="g-title">
                                                                    <h4 class="font-weight-bold fs-h5">Fast shipping</h4>
                                                                </div>
                                                            </div>

                                                            <div class="g-body">
                                                                Our deliveries take place in real time. The ordered goods are shipped within one hour.
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="g-block g-block-html g-block-8" id="block-8" data-aos="fade-up" style="--col: 1/4; --row: 3/4; --col-lg: 3/5; --row-lg: 2/3">
                                        <div class="g-block-inner g-padbox box-flat box-flat-inverse border border-translucent rounded-lg shadow-lg shadow-danger p-3 px-md-5 py-md-4">
                                            <div class="gradient-danger linear-gradient bg-overlay" style="--cendpos: 100%; --cstartpos: 0%; --gdir: 270deg"></div>


                                            <div class="g-block-content">










                                                <div class="g-block-html-outer">

                                                    <div class="g-block-html-inner g-icon-above">

                                                        <div class="g-icon">
                                                            <i class="far fa-question-circle fa-3x text-danger"></i>
                                                        </div>
                                                        <div class="g-icon-spacer mr-4 mb-4"></div>

                                                        <div class="g-html-content">
                                                            <div class="g-heading">
                                                                <div class="g-title">
                                                                    <h5 class="font-weight-bold fs-h5">Competent Support</h5>
                                                                </div>
                                                            </div>

                                                            <div class="g-body">
                                                                You have questions or a problem? Give us a call! Our support takes care of it and you lean back.
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="g-block g-block-html g-block-9" id="block-9" data-aos="fade-up" style="--col: 4/7; --row: 3/4; --col-lg: 5/7; --row-lg: 2/3">
                                        <div class="g-block-inner g-padbox box-flat box-flat-inverse border border-translucent rounded-lg shadow-lg shadow-warning p-3 px-md-5 py-md-4">
                                            <div class="gradient-warning linear-gradient bg-overlay" style="--cendpos: 100%; --cstartpos: 0%; --gdir: 270deg"></div>


                                            <div class="g-block-content">










                                                <div class="g-block-html-outer">

                                                    <div class="g-block-html-inner g-icon-above">

                                                        <div class="g-icon">
                                                            <i class="fa fa-certificate fa-3x text-warning"></i>
                                                        </div>
                                                        <div class="g-icon-spacer mr-4 mb-4"></div>

                                                        <div class="g-html-content">
                                                            <div class="g-heading">
                                                                <div class="g-title">
                                                                    <h4 class="font-weight-bold fs-h5">Money-back guarantee</h4>
                                                                </div>
                                                            </div>

                                                            <div class="g-body">
                                                                If you are not satisfied with a purchased item, please contact us and we will initiate the return process for you.
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="g-block g-block-html g-block-10" id="block-10" data-aos="fade-up" style="--col: 1/4; --row: 2/3; --col-lg: 3/5; --row-lg: 1/2">
                                        <div class="g-block-inner g-padbox box-flat box-flat-inverse border border-translucent rounded-lg shadow-lg shadow-primary p-3 px-md-5 py-md-4">
                                            <div class="gradient-primary linear-gradient bg-overlay" style="--cendpos: 100%; --cstartpos: 0%; --gdir: 270deg"></div>


                                            <div class="g-block-content">










                                                <div class="g-block-html-outer">

                                                    <div class="g-block-html-inner g-icon-above">

                                                        <div class="g-icon">
                                                            <i class="fa fa-percent fa-3x text-primary"></i>
                                                        </div>
                                                        <div class="g-icon-spacer mr-4 mb-4"></div>

                                                        <div class="g-html-content">
                                                            <div class="g-heading">
                                                                <div class="g-title">
                                                                    <h4 class="font-weight-bold fs-h5">Best Price Guarantee</h4>
                                                                </div>
                                                            </div>

                                                            <div class="g-body">
                                                                If you find a better price online, let us know where and we will adjust our price.
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="g-block g-block-html g-block-11" id="block-11" data-aos="fade-up" style="--col: 1/4; --row: 4/5; --col-lg: 1/3; --row-lg: 3/6">
                                        <div class="g-block-inner g-padbox box-flat box-flat-inverse border border-translucent rounded-lg shadow-lg shadow-info p-3 px-md-5 py-md-4">
                                            <div class="gradient-info linear-gradient bg-overlay" style="--cendpos: 100%; --cstartpos: 0%; --gdir: 270deg"></div>


                                            <div class="g-block-content">










                                                <div class="g-block-html-outer">

                                                    <div class="g-block-html-inner g-icon-above">

                                                        <div class="g-icon">
                                                            <i class="far fa-star fa-3x text-info"></i>
                                                        </div>
                                                        <div class="g-icon-spacer mr-4 mb-4"></div>

                                                        <div class="g-html-content">
                                                            <div class="g-heading">
                                                                <div class="g-title">
                                                                    <h4 class="font-weight-bold fs-h5">We stand for quality</h4>
                                                                </div>
                                                            </div>

                                                            <div class="g-body">
                                                                We only offer selected products with top quality.
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="g-block g-block-html g-block-12" id="block-12" data-aos="fade-up" style="--col: 4/7; --row: 4/5; --col-lg: 3/5; --row-lg: 3/6">
                                        <div class="g-block-inner g-padbox box-flat box-flat-inverse border border-translucent rounded-lg shadow-lg shadow-dark p-3 px-md-5 py-md-4">
                                            <div class="gradient-dark linear-gradient bg-overlay" style="--cendpos: 100%; --cstartpos: 0%; --gdir: 270deg"></div>


                                            <div class="g-block-content">










                                                <div class="g-block-html-outer">

                                                    <div class="g-block-html-inner g-icon-above">

                                                        <div class="g-icon">
                                                            <i class="far fa-credit-card fa-3x text-dark"></i>
                                                        </div>
                                                        <div class="g-icon-spacer mr-4 mb-4"></div>

                                                        <div class="g-html-content">
                                                            <div class="g-heading">
                                                                <div class="g-title">
                                                                    <h4 class="font-weight-bold fs-h5">Secure payment</h4>
                                                                </div>
                                                            </div>

                                                            <div class="g-body">
                                                                Pay securely by cash on delivery, credit card, prepayment, PayPal, Amazon Pay or Sofortüberweisung.
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>



                            </section>

                        </div>





                        <div class="product-grid product-grid-home-page block">
                            <div class="heading heading-center">
                                <h3 class="heading-title fs-h1">Featured products</h3>
                            </div>

                            <div class="block-body pt-3 artlist-no-separators">






                                <div id="artlist-0622654273" class='artlist artlist-grid artlist-6-cols'>



                                    <article class="art" data-id="231">
                                        <div class="art-picture-block">
                                            <a class='art-picture img-center-container' href="/frontend/en/custom-flak-sunglasses" title="Show details for Custom Flak&#174; Sunglasses">
                                                <img src="/Content/Samples/category/apple.png" width="256" alt="Picture of Custom Flak&#174; Sunglasses" title="Show details for Custom Flak&#174; Sunglasses" loading="lazy" />
                                            </a>
                                        </div>




                                        <h3 class="art-name">
                                            <a href="/frontend/en/custom-flak-sunglasses" title="Custom Flak&#174; Sunglasses">
                                                <span>Custom Flak® Sunglasses</span>
                                            </a>
                                        </h3>







                                        <div class="art-price-block">
                                            <span class="art-price">
                                                From 170,00 €
                                            </span>


                                        </div>













                                    </article>




                                    <article class="art" data-id="251">
                                        <div class="art-picture-block">
                                            <a class='art-picture img-center-container' href="/frontend/en/mens-t" title="Show details for Men’s T">
                                                <img src="/Content/Samples/category/apple.png" width="256" alt="Picture of Men’s T" title="Show details for Men’s T" loading="lazy" />
                                            </a>
                                        </div>

                                        <div class="art-badges">
                                            <span class="badge badge-danger art-badge">- 36 %</span>
                                        </div>



                                        <h3 class="art-name">
                                            <a href="/frontend/en/mens-t" title="Men’s T">
                                                <span>Men’s T</span>
                                            </a>
                                        </h3>







                                        <div class="art-price-block">
                                            <span class="art-price art-price--offer">
                                                % From 8,00 €
                                            </span>
                                            <span class="art-oldprice">24,90 €</span>


                                        </div>













                                    </article>




                                    <article class="art" data-id="252">
                                        <div class="art-picture-block">
                                            <a class='art-picture img-center-container' href="/frontend/en/mens-flag-t" title="Show details for Men&#39;s Flag T">
                                                <img src="/Content/Samples/category/apple.png" width="256" alt="Picture of Men&#39;s Flag T" title="Show details for Men&#39;s Flag T" loading="lazy" />
                                            </a>
                                        </div>




                                        <h3 class="art-name">
                                            <a href="/frontend/en/mens-flag-t" title="Men&#39;s Flag T">
                                                <span>Men's Flag T</span>
                                            </a>
                                        </h3>







                                        <div class="art-price-block">
                                            <span class="art-price">
                                                From 22,90 €
                                            </span>


                                        </div>













                                    </article>




                                    <article class="art" data-id="253">
                                        <div class="art-picture-block">
                                            <a class='art-picture img-center-container' href="/frontend/en/ladies-flag-t" title="Show details for Ladies’ Flag T">
                                                <img src="/Content/Samples/category/apple.png" width="256" alt="Picture of Ladies’ Flag T" title="Show details for Ladies’ Flag T" loading="lazy" />
                                            </a>
                                        </div>

                                        <div class="art-badges">
                                            <span class="badge badge-danger art-badge">- 10 %</span>
                                        </div>



                                        <h3 class="art-name">
                                            <a href="/frontend/en/ladies-flag-t" title="Ladies’ Flag T">
                                                <span>Ladies’ Flag T</span>
                                            </a>
                                        </h3>







                                        <div class="art-price-block">
                                            <span class="art-price art-price--offer">
                                                % 20,61 €
                                            </span>
                                            <span class="art-oldprice">30,00 €</span>


                                        </div>













                                    </article>




                                    <article class="art" data-id="254">
                                        <div class="art-picture-block">
                                            <a class='art-picture img-center-container' href="/frontend/en/ladies-sports-jacket" title="Show details for Ladies’ Sports Jacket">
                                                <img src="/Content/Samples/category/apple.png" width="256" alt="Picture of Ladies’ Sports Jacket" title="Show details for Ladies’ Sports Jacket" loading="lazy" />
                                            </a>
                                        </div>

                                        <div class="art-badges">
                                            <span class="badge badge-danger art-badge">- 10 %</span>
                                        </div>



                                        <h3 class="art-name">
                                            <a href="/frontend/en/ladies-sports-jacket" title="Ladies’ Sports Jacket">
                                                <span>Ladies’ Sports Jacket</span>
                                            </a>
                                        </h3>







                                        <div class="art-price-block">
                                            <span class="art-price art-price--offer">
                                                % 49,50 €
                                            </span>
                                            <span class="art-oldprice">60,00 €</span>


                                        </div>













                                    </article>




                                    <article class="art" data-id="257">
                                        <div class="art-picture-block">
                                            <a class='art-picture img-center-container' href="/frontend/en/97-ipad-2" title="Show details for 9,7&quot; iPad">
                                                <img src="/Content/Samples/category/apple.png" width="256" alt="Picture of 9,7&quot; iPad" title="Show details for 9,7&quot; iPad" loading="lazy" />
                                            </a>
                                        </div>




                                        <h3 class="art-name">
                                            <a href="/frontend/en/97-ipad-2" title="9,7&quot; iPad">
                                                <span>9,7" iPad</span>
                                            </a>
                                        </h3>







                                        <div class="art-price-block">
                                            <span class="art-price">
                                                From 399,00 €
                                            </span>


                                        </div>













                                    </article>




                                    <article class="art" data-id="49">
                                        <div class="art-picture-block">
                                            <a class='art-picture img-center-container' href="/frontend/en/arne-jacobsen-egg-chair-1958" title="Show details for Arne Jacobsen Egg Chair (1958)">
                                                <img src="/Content/Samples/category/apple.png" width="256" alt="Picture of Arne Jacobsen Egg Chair (1958)" title="Show details for Arne Jacobsen Egg Chair (1958)" loading="lazy" />
                                            </a>
                                        </div>




                                        <h3 class="art-name">
                                            <a href="/frontend/en/arne-jacobsen-egg-chair-1958" title="Arne Jacobsen Egg Chair (1958)">
                                                <span>Arne Jacobsen Egg Chair (1958)</span>
                                            </a>
                                        </h3>







                                        <div class="art-price-block">
                                            <span class="art-price">
                                                From 1.699,15 €
                                            </span>


                                        </div>













                                    </article>




                                    <article class="art" data-id="64">
                                        <div class="art-picture-block">
                                            <a class='art-picture img-center-container' href="/frontend/en/charles-eames-lounge-chair-1956-2" title="Show details for Charles Eames Lounge Chair (1956)">
                                                <img src="/Content/Samples/category/apple.png" width="256" alt="Picture of Charles Eames Lounge Chair (1956)" title="Show details for Charles Eames Lounge Chair (1956)" loading="lazy" />
                                            </a>
                                        </div>

                                        <div class="art-badges">
                                            <span class="badge badge-danger art-badge">- 15 %</span>
                                        </div>



                                        <h3 class="art-name">
                                            <a href="/frontend/en/charles-eames-lounge-chair-1956-2" title="Charles Eames Lounge Chair (1956)">
                                                <span>Charles Eames Lounge Chair (1956)</span>
                                            </a>
                                        </h3>







                                        <div class="art-price-block">
                                            <span class="art-price art-price--offer">
                                                % From 1.619,10 €
                                            </span>
                                            <span class="art-oldprice">1.999,00 €</span>


                                        </div>













                                    </article>




                                    <article class="art" data-id="65">
                                        <div class="art-picture-block">
                                            <a class='art-picture img-center-container' href="/frontend/en/charles-eames-ottoman-1956" title="Show details for Charles Eames Ottoman (1956)">
                                                <img src="/Content/Samples/category/apple.png" width="256" alt="Picture of Charles Eames Ottoman (1956)" title="Show details for Charles Eames Ottoman (1956)" loading="lazy" />
                                            </a>
                                        </div>




                                        <h3 class="art-name">
                                            <a href="/frontend/en/charles-eames-ottoman-1956" title="Charles Eames Ottoman (1956)">
                                                <span>Charles Eames Ottoman (1956)</span>
                                            </a>
                                        </h3>







                                        <div class="art-price-block">
                                            <span class="art-price">
                                                From 699,00 €
                                            </span>


                                        </div>













                                    </article>




                                    <article class="art" data-id="66">
                                        <div class="art-picture-block">
                                            <a class='art-picture img-center-container' href="/frontend/en/josef-hoffmann-sessel-kubus-1910" title="Show details for Josef Hoffmann Sessel Kubus (1910)">
                                                <img src="/Content/Samples/category/apple.png" width="256" alt="Picture of Josef Hoffmann Sessel Kubus (1910)" title="Show details for Josef Hoffmann Sessel Kubus (1910)" loading="lazy" />
                                            </a>
                                        </div>




                                        <h3 class="art-name">
                                            <a href="/frontend/en/josef-hoffmann-sessel-kubus-1910" title="Josef Hoffmann Sessel Kubus (1910)">
                                                <span>Josef Hoffmann Sessel Kubus (1910)</span>
                                            </a>
                                        </h3>







                                        <div class="art-price-block">
                                            <span class="art-price">
                                                From 1.799,10 €
                                            </span>


                                        </div>













                                    </article>




                                    <article class="art" data-id="223">
                                        <div class="art-picture-block">
                                            <a class='art-picture img-center-container' href="/frontend/en/aermelloses-shirt-meccanica" title="Show details for &#196;rmelloses Shirt Meccanica">
                                                <img src="/Content/Samples/category/apple.png" width="256" alt="Picture of &#196;rmelloses Shirt Meccanica" title="Show details for &#196;rmelloses Shirt Meccanica" loading="lazy" />
                                            </a>
                                        </div>




                                        <h3 class="art-name">
                                            <a href="/frontend/en/aermelloses-shirt-meccanica" title="&#196;rmelloses Shirt Meccanica">
                                                <span>Ärmelloses Shirt Meccanica</span>
                                            </a>
                                        </h3>







                                        <div class="art-price-block">
                                            <span class="art-price">
                                                38,00 €
                                            </span>


                                        </div>













                                    </article>




                                    <article class="art" data-id="229">
                                        <div class="art-picture-block">
                                            <a class='art-picture img-center-container' href="/frontend/en/adidas-official-game-ball" title="Show details for Adidas TANGO SALA BALL">
                                                <img src="/Content/Samples/category/apple.png" width="256" alt="Picture of Adidas TANGO SALA BALL" title="Show details for Adidas TANGO SALA BALL" loading="lazy" />
                                            </a>
                                        </div>




                                        <h3 class="art-name">
                                            <a href="/frontend/en/adidas-official-game-ball" title="Adidas TANGO SALA BALL">
                                                <span>Adidas TANGO SALA BALL</span>
                                            </a>
                                        </h3>







                                        <div class="art-price-block">
                                            <span class="art-price">
                                                From 49,90 €
                                            </span>


                                        </div>













                                    </article>

                                </div>


                            </div>
                        </div>
                        <div class="manufacturer-grid block">
                            <div class="heading heading-center">
                                <h3 class="heading-title fs-h1">Top Brands</h3>
                            </div>

                            <div class="artlist artlist-grid artlist-6-cols artlist-boxed block-body pt-3">
                                <article class="art" data-id="46">
                                    <div class="art-picture-block">
                                        <a class="art-picture img-center-container" href="/frontend/en/adidas">
                                            <img src="/Content/Samples/category/apple.png" width="256" alt="Adidas" title="Adidas" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="art-genericname">
                                        <a href="/frontend/en/adidas" title="Adidas">
                                            <span>Adidas</span>
                                        </a>
                                    </div>
                                </article>
                                <article class="art" data-id="53">
                                    <div class="art-picture-block">
                                        <a class="art-picture img-center-container" href="/frontend/en/boss">
                                            <img src="/Content/Samples/category/apple.png" width="256" alt="BOSS" title="BOSS" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="art-genericname">
                                        <a href="/frontend/en/boss" title="BOSS">
                                            <span>BOSS</span>
                                        </a>
                                    </div>
                                </article>
                                <article class="art" data-id="57">
                                    <div class="art-picture-block">
                                        <a class="art-picture img-center-container" href="/frontend/en/breitling">
                                            <img src="/Content/Samples/category/apple.png" width="256" alt="BREITLING" title="BREITLING" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="art-genericname">
                                        <a href="/frontend/en/breitling" title="BREITLING">
                                            <span>BREITLING</span>
                                        </a>
                                    </div>
                                </article>
                                <article class="art" data-id="50">
                                    <div class="art-picture-block">
                                        <a class="art-picture img-center-container" href="/frontend/en/converse">
                                            <img src="/Content/Samples/category/apple.png" width="256" alt="Converse" title="Converse" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="art-genericname">
                                        <a href="/frontend/en/converse" title="Converse">
                                            <span>Converse</span>
                                        </a>
                                    </div>
                                </article>
                                <article class="art" data-id="51">
                                    <div class="art-picture-block">
                                        <a class="art-picture img-center-container" href="/frontend/en/daiber">
                                            <img src="/Content/Samples/category/apple.png" width="256" alt="Daiber" title="Daiber" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="art-genericname">
                                        <a href="/frontend/en/daiber" title="Daiber">
                                            <span>Daiber</span>
                                        </a>
                                    </div>
                                </article>
                                <article class="art" data-id="60">
                                    <div class="art-picture-block">
                                        <a class="art-picture img-center-container" href="/frontend/en/ea-sports">
                                            <img src="/Content/Samples/category/apple.png" width="256" alt="EA Sports" title="EA Sports" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="art-genericname">
                                        <a href="/frontend/en/ea-sports" title="EA Sports">
                                            <span>EA Sports</span>
                                        </a>
                                    </div>
                                </article>
                                <article class="art" data-id="48">
                                    <div class="art-picture-block">
                                        <a class="art-picture img-center-container" href="/frontend/en/nike">
                                            <img src="/Content/Samples/category/apple.png" width="256" alt="Nike" title="Nike" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="art-genericname">
                                        <a href="/frontend/en/nike" title="Nike">
                                            <span>Nike</span>
                                        </a>
                                    </div>
                                </article>
                                <article class="art" data-id="47">
                                    <div class="art-picture-block">
                                        <a class="art-picture img-center-container" href="/frontend/en/puma">
                                            <img src="/Content/Samples/category/apple.png" width="256" alt="Puma" title="Puma" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="art-genericname">
                                        <a href="/frontend/en/puma" title="Puma">
                                            <span>Puma</span>
                                        </a>
                                    </div>
                                </article>
                                <article class="art" data-id="52">
                                    <div class="art-picture-block">
                                        <a class="art-picture img-center-container" href="/frontend/en/ray-ban">
                                            <img src="/Content/Samples/category/apple.png" width="256" alt="Ray-Ban" title="Ray-Ban" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="art-genericname">
                                        <a href="/frontend/en/ray-ban" title="Ray-Ban">
                                            <span>Ray-Ban</span>
                                        </a>
                                    </div>
                                </article>
                                <article class="art" data-id="55">
                                    <div class="art-picture-block">
                                        <a class="art-picture img-center-container" href="/frontend/en/seiko">
                                            <img src="/Content/Samples/category/apple.png" width="256" alt="SEIKO" title="SEIKO" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="art-genericname">
                                        <a href="/frontend/en/seiko" title="SEIKO">
                                            <span>SEIKO</span>
                                        </a>
                                    </div>
                                </article>
                                <article class="art" data-id="56">
                                    <div class="art-picture-block">
                                        <a class="art-picture img-center-container" href="/frontend/en/tissot">
                                            <img src="/Content/Samples/category/apple.png" width="256" alt="TISSOT" title="TISSOT" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="art-genericname">
                                        <a href="/frontend/en/tissot" title="TISSOT">
                                            <span>TISSOT</span>
                                        </a>
                                    </div>
                                </article>
                                <article class="art" data-id="58">
                                    <div class="art-picture-block">
                                        <a class="art-picture img-center-container" href="/frontend/en/titleist">
                                            <img src="/Content/Samples/category/apple.png" width="256" alt="Titleist" title="Titleist" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="art-genericname">
                                        <a href="/frontend/en/titleist" title="Titleist">
                                            <span>Titleist</span>
                                        </a>
                                    </div>
                                </article>
                                <article class="art" data-id="54">
                                    <div class="art-picture-block">
                                        <a class="art-picture img-center-container" href="/frontend/en/versace">
                                            <img src="/Content/Samples/category/apple.png" width="256" alt="Versace" title="Versace" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="art-genericname">
                                        <a href="/frontend/en/versace" title="Versace">
                                            <span>Versace</span>
                                        </a>
                                    </div>
                                </article>
                                <article class="art" data-id="59">
                                    <div class="art-picture-block">
                                        <a class="art-picture img-center-container" href="/frontend/en/warner-home-video-games">
                                            <img src="/Content/Samples/category/apple.png" width="256" alt="Warner Home Video Games" title="Warner Home Video Games" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="art-genericname">
                                        <a href="/frontend/en/warner-home-video-games" title="Warner Home Video Games">
                                            <span>Warner Home Video Games</span>
                                        </a>
                                    </div>
                                </article>
                                <article class="art" data-id="49">
                                    <div class="art-picture-block">
                                        <a class="art-picture img-center-container" href="/frontend/en/wilson">
                                            <img src="/Content/Samples/category/apple.png" width="256" alt="Wilson" title="Wilson" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="art-genericname">
                                        <a href="/frontend/en/wilson" title="Wilson">
                                            <span>Wilson</span>
                                        </a>
                                    </div>
                                </article>
                                <article class="art" data-id="1">
                                    <div class="art-picture-block">
                                        <a class="art-picture img-center-container" href="/frontend/en/apple">
                                            <img src="/Content/Samples/category/apple.png" width="256" alt="Apple" title="Apple" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="art-genericname">
                                        <a href="/frontend/en/apple" title="Apple">
                                            <span>Apple</span>
                                        </a>
                                    </div>
                                </article>
                                <article class="art" data-id="45">
                                    <div class="art-picture-block">
                                        <a class="art-picture img-center-container" href="/frontend/en/oakley">
                                            <img src="/Content/Samples/category/apple.png" width="256" alt="Oakley" title="Oakley" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="art-genericname">
                                        <a href="/frontend/en/oakley" title="Oakley">
                                            <span>Oakley</span>
                                        </a>
                                    </div>
                                </article>

                                <div class="art show-all-items d-flex p-0">
                                    <a href="/frontend/en/manufacturer/all" class="show-all-items-link">
                                        <i class="fa fa-ellipsis-h fa-lg"></i>
                                        <span>Show all</span>
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="block block-popular-tags mb-5">
                            <div class="row">
                                <div class="col">
                                    <div class="heading">
                                        <h3 class="heading-title fs-h1">
                                            Popular tags
                                        </h3>
                                    </div>
                                </div>
                                <div class="col col-auto">
                                    <a class="btn btn-outline-info btn-flat" href="/frontend/en/producttag/all">
                                        <span>View all</span>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>

                            </div>

                            <div class="listbox block-body">
                                <div class="tags fs-h4">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="color-body" href="/frontend/en/producttag/71/2-sitzer" style="font-size:85%;">
                                                <span>2-Sitzer</span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="color-body" href="/frontend/en/producttag/38/adidas" style="font-size:85%;">
                                                <span>Adidas</span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="color-body" href="/frontend/en/producttag/48/ball" style="font-size:90%;">
                                                <span>Ball</span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="color-body" href="/frontend/en/producttag/65/bauhaus" style="font-size:120%;">
                                                <span>Bauhaus</span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="color-body" href="/frontend/en/producttag/36/brille" style="font-size:85%;">
                                                <span>Brille</span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="color-body" href="/frontend/en/producttag/69/chrome" style="font-size:90%;">
                                                <span>Chrome</span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="color-body" href="/frontend/en/producttag/49/fussball" style="font-size:85%;">
                                                <span>Fußball</span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="color-body" href="/frontend/en/producttag/70/le-corbusier" style="font-size:85%;">
                                                <span>Le Corbusier</span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="color-body" href="/frontend/en/producttag/50/leder" style="font-size:120%;">
                                                <span>Leder</span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="color-body" href="/frontend/en/producttag/66/moebel" style="font-size:120%;">
                                                <span>Möbel</span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="color-body" href="/frontend/en/producttag/33/shirt" style="font-size:80%;">
                                                <span>Shirt</span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="color-body" href="/frontend/en/producttag/67/sofa" style="font-size:90%;">
                                                <span>Sofa</span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="color-body" href="/frontend/en/producttag/34/sport" style="font-size:120%;">
                                                <span>Sport</span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="color-body" href="/frontend/en/producttag/75/stahl" style="font-size:90%;">
                                                <span>Stahl</span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="color-body" href="/frontend/en/producttag/54/wilson" style="font-size:80%;">
                                                <span>Wilson</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="block news-list-homepage my-5">
                            <div class="row">
                                <div class="col">
                                    <div class="heading">
                                        <h3 class="heading-title fs-h1">News</h3>
                                    </div>
                                </div>
                                <div class="col col-auto">
                                    <a class="btn btn-warning" href="/frontend/en/news/rss" title="Click here to be informed automatically when we add new items to our site">
                                        <i class="fa fa-rss"></i>
                                        <span>RSS</span>
                                    </a>
                                    <a class="btn btn-outline-info btn-flat" href="/frontend/en/news">
                                        <span>[View News Archive]</span>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="block-body news-items">
                                <div class="row" style="--img-aspect-ratio: 0.5;">
                                    <article class="d-flex flex-column col-12 col-md-6" itemscope itemtype="http://schema.org/NewsArticle">
                                        <h4 class="newsitem-title mt-3 mb-2">
                                            <a class="newsitem-title-link" href="/frontend/en/smartstorenet-das-clevere-shopsystem" itemprop="headline">Smartstore - das clevere Shopsystem!</a>
                                        </h4>
                                        <div class="newsitem-date" itemprop="datePublished">
                                            Monday, December 19, 2016
                                        </div>
                                        <p class="newsitem-description my-3 flex-grow-1" itemprop="description">
                                            Smartstore ist die neue dynamische E-Commerce Lösung von SmartStore. Smartstore bietet alle Funktionen und Möglichkeiten, um schnell und einfach einen leistungsfähigen und funktional kompletten Online-Shop zu erstellen.
                                        </p>
                                        <div>
                                            <a class="btn btn-primary" href="/frontend/en/smartstorenet-das-clevere-shopsystem">
                                                Read more
                                            </a>
                                        </div>

                                    </article>
                                    <article class="d-flex flex-column col-12 col-md-6" itemscope itemtype="http://schema.org/NewsArticle">
                                        <h4 class="newsitem-title mt-3 mb-2">
                                            <a class="newsitem-title-link" href="/frontend/en/kundendienst-service" itemprop="headline">Kundendienst - Service</a>
                                        </h4>
                                        <div class="newsitem-date" itemprop="datePublished">
                                            Monday, December 19, 2016
                                        </div>
                                        <p class="newsitem-description my-3 flex-grow-1" itemprop="description">
                                            Hier finden Sie Antworten auf Fragen zu unserem Onlineshop
                                        </p>
                                        <div>
                                            <a class="btn btn-primary" href="/frontend/en/kundendienst-service">
                                                Read more
                                            </a>
                                        </div>

                                    </article>
                                </div>
                            </div>
                        </div>





                    </div>
                </div>
            </div>



        </div>
    </section>
</div>

